@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="width: 600px; align-self:center;">
    <form style="font-size: 20px; align-self: center; margin-top: 100px; height: fit-content;">
        <button asp-action="InstructorSearch" style="background-color: lightcoral; margin:15px; height: 100px; width: 500px;">
            Инструкторы
        </button>
        <button asp-action="SubscriberSearch" style="background-color: lightcoral; margin: 15px; height: 100px; width: 500px;">
            Посетители
        </button>
        <button asp-action="SelectGroupMode" style="background-color: lightcoral; margin: 15px; height: 100px; width: 500px;">
            Группы
        </button>
    </form>
</div>
