<div class="text-center" style="width: 600px; align-self:center;">
    <form style="font-size: 20px; align-self: center; margin-top: 100px; height: fit-content;">
        <button asp-action="SelectDate" style="background-color: lightcoral; margin:15px; height: 100px; width: 500px;">
            Заработок
        </button>
        <button asp-action="SearchGroup" style="background-color: lightcoral; margin: 15px; height: 100px; width: 500px;">
            Поиск по фильтру
        </button>
    </form>
</div>