@model SelectGr

<form asp-action="SelectDate">
    <div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" />
        <input type="submit" value="OK" class="btn btn-primary" />
    </div>
</form>